@charset "UTF-8";

/* css variable */

:root {
    --primary: #ddd; 
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.wrapper {
    display: grid;
    gap: 20px;
}

img {
    max-width: 100%;
}

html{
    box-sizing: border-box;
    font-family: Arial, helvetica, sans-serif;
    color: white;
}

body {
    background:  rgb(84, 98, 107);
    margin: 30px 50px;
    line-height: 1.4;
}

.main-nav ul {
    display: grid;
    gap: 100px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.5555rem;
    box-shadow: var(--shadow);
    border-radius: 18px 18px 18px 18px;
}

.cyber{
    margin-left: auto;
    margin-right: auto;
}

.main-nav a:hover {
    background: black;
    color: white;
}

.main-nav p {
    font-size: 1.625rem;
    color: white;
}

